---
layout: base
---



    <div class="content">
    <div class="results-summary-container">
        <div class="confetti">
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
        </div>
        <div class="results-summary-container__result">
          <div class="heading-tertiary"></div>
          <div class="result-box">
            <div class="heading-primary"><b>{{page.puntosLJ202404}} </b></div>
            <p class="result">PTS</p>
          </div>
          <div class="result-text-box">
            <div class="heading-secondary">{{page.team}}</div>
            <p class="paragraph">
             
            </p>
          </div>
        </div>
        <div class="results-summary-container__options">
          <div class="heading-secondary heading-secondary--blue">RESULTADOS</div>
          <div class="summary-result-options">
            <div class="result-option result-option-Visual">
              <div class="icon-box">
                
                <span class="visual-icon-text">{{page.t1}}</span>
              </div>
              <div class="result-box">{{page.r1}}</div>
            </div>
            <div class="result-option result-option-Visual">
                <div class="icon-box">
                  
                  <span class="visual-icon-text">{{page.t2}}</span>
                </div>
                <div class="result-box">{{page.r2}}</div>
              </div>
              <div class="result-option result-option-Visual">
                <div class="icon-box">
                  
                  <span class="visual-icon-text">{{page.t3}}</span>
                </div>
                <div class="result-box">{{page.r3}}</div>
              </div>
              <div class="result-option result-option-Visual">
                <div class="icon-box">
                  
                  <span class="visual-icon-text">{{page.t4}}</span>
                </div>
                <div class="result-box">{{page.r4}}</div>
              </div>
              <div class="result-option result-option-Visual">
                <div class="icon-box">
                  
                  <span class="visual-icon-text">{{page.t5}}</span>
                </div>
                <div class="result-box">{{page.r5}}</div>
              </div>
              <div class="result-option result-option-Visual">
                <div class="icon-box">
                  
                  <span class="visual-icon-text">{{page.t6}}</span>
                </div>
                <div class="result-box">{{page.r6}}</div>
              </div>
              <div class="result-option result-option-Visual">
                <div class="icon-box">
                  
                  <span class="visual-icon-text">{{page.t7}}</span>
                </div>
                <div class="result-box">{{page.r7}}</div>
              </div>
              
              

          
            <div class="summary__cta">
                <a href="/liga-johto/">
              <button class="btn btn__continue">VOLVER</button>
            </a>
            </div>
          </div>
        </div>
      </div>
    
    </div>


 

